@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primario2: #106A41;
    --primario1: #238659;
    --primario: #3d9970;
    --primario-1: #61B38E;
    --primario-2: #96D3B7;

    --segundo2: #052a2f;
    --segundo1: #134046;
    --segundo: #235157;
    --segundo-1: #38666d;
    --segundo-2: #588085;

    --tercero2: #2f4707;
    --tercero1: #4d6a1c;
    --tercero: #668434;
    --tercero-1: #86a453;
    --tercero-2: #b0ca83;


}

.general{
    font-family: 'Overpass', sans-serif;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    /* margenes configurados para evitar los marcos blancos en los bordes laterales */
    margin: 0 -20px;
}

.fondo{
    background-color: var(--tercero);
    background-color: var(--tercero-1);
    background: radial-gradient(circle, transparent 20%, #dfe9cd 20%, #dfe9cd 80%, transparent 80%, transparent),
                radial-gradient(circle, transparent 20%, #dfe9cd 20%, #dfe9cd 80%, transparent 80%, transparent) 17.5px 17.5px,
                linear-gradient(#507700 1.4px, transparent 1.4px) 0 -0.7px,
                linear-gradient(90deg, #507700 1.4px, #dfe9cd 1.4px) -0.7px 0;
    background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
}

.principal {
    background-image: url('../img/FondoPrincipal.png');
    background-position: 100%;
    background-size: cover;
  }

.container{
    --fondo: #fff;
    background-color: var(--fondo);
    margin: auto;
    margin-top: 3em;
    width: 95%;
    padding: 2em 2em;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(0 0 0 /20);
    text-align: center;
    overflow: auto;
    color: var(--segundo2);
}

.cont{
    background-color: var(--fondo);
    margin: auto;
    border-radius: 10px;
    width: 95%;
    padding: 3em 2em;
    text-align: center;
    overflow: auto;
    color: var(--segundo2);
}

.login{
    max-width: 450px;
    margin: auto;
}

.logo{
    max-width: 120px;
    max-height: 120px;
}

.titulo{
    font-size: 3.5rem;
    font-weight: 900;  
    color: var(--tercero);
}

.form_titulo{
    font-size: 2.3rem;
    font-weight: 900;
    margin: .2em;
    color: var(--segundo2);
}

.subtitulo{
        text-align: left;
        margin: .5em;
}

.label {
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: 300;
    font-size: 1.3rem;
}
.form_cont{
    margin-top: .2em;
    display: grid;
    gap: 2em;
}

.form_dato{
    position: relative;
    --color: var(--segundo2);
}

.form_input{
    width: 100%;
    color: var(--segundo2);
    background: none;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Overpass', sans-serif;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
}

.form_select{
    color: var(--color);
    cursor: pointer;
    font-size: 1rem;
    padding: .3em;
}

.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.button {
    display: flex;
    overflow: hidden;

    padding: .5em;

    cursor: pointer;
    transition: all 150ms linear;
    text-align: center;
    text-transform: none;
    text-transform: capitalize;

    background-color: var(--tercero-1);
    color: #fff;
    font-weight: 300;
    font-size: 1.3rem;
    border: 0 none;
    border-radius: .5em;


    justify-content: center;
    align-items: center;
    flex: 0 0 160px;

    &:hover {
        transition: all 150ms linear;
        background-color: var(--tercero1);
    }

    &:active {
        transition: all 150ms linear;
        background-color: var(--tercero);
  }
}
.inline_button{
    display: inline;
    margin: .3rem;
    font-size: 1rem;
}
.button_span{
    margin-left: .3em;
    color: #fff;
}
.end{
    text-align: right;
    padding-block: .8em;
}
.start{
    text-align: left;
    padding-block: .8em;
}
table {
    width: 100%;
    background-color: var(--fondo);
    text-align: center;
    border-collapse: collapse;
    justify-self: center;
    font-size: 1rem;
    font-weight: 300;
    border-spacing: solid 1px var(--primario);
}
th, td{
    padding: .5em;
    border-right: solid 1px var(--primario);
}
th, td:last-child{
    border-right: 0px;
}
.table_header{
    background-color: var(--primario);
    border-bottom: solid 5px var(--fondo);
    color: #fff;
    font-weight: 500;
    padding: .8em;
}
.color_header{
    background-color: var(--primario-2);
}
tr:nth-child(even){
    background-color: #e9e9e9;
}

.tr-select:hover{
    background-color: #E9E9E9;
    cursor: pointer;
}
